:root {
  /* #COLORS */

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}
a:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
}
.logo:hover {
  cursor: pointer;
}
.btn-close {
  color: white;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.custom-navbar {
  background-color: transparent;
}
/* Esconder outro nav */

#div-header-section {
  background-image: url(/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55rem;
  line-height: 3.5rem;
  position: relative;
  padding: 1rem;
}
.offcanvas {
  width: 20rem;
}
#text-header {
  padding: 2rem 2rem;
  border: 2px solid white;
  position: absolute;
  top: 18rem;
  color: white;
  width: 100%;
  font-size: 3.9rem;
  font-weight: 300;
  margin-bottom: 8rem;
}
#vr-man-section {
  margin-top: 6rem;
  padding: 2rem;
}
#vr-man-img {
  width: 100%;
  margin-bottom: 2.8rem;
}
#vr-man-section h1 {
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-weight: 300;
  font-size: 2.8rem;
  padding: 1.4rem;
  text-align: center;
  line-height: 2.7rem;
}
#vr-man-section p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.9rem;
  padding: 2.2rem;
  color: var(--DarkGray);
  font-weight: 400;
  font-family: "Alata", sans-serif;
}
#gallery-creations h2 {
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-weight: 300;
  font-size: 2.8rem;
  padding: 1.4rem;
  text-align: center;
  line-height: 2.7rem;
}
#gallery-creations .mb-gallery {
  margin-bottom: 2rem;
}
.container-image-gallery1 {
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-position-y: -2.5rem;

  max-width: 40rem;
}
.container-image-gallery2 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-night-arcade.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}
.container-image-gallery3 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-soccer-team.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}
.container-image-gallery4 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-grid.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}
.container-image-gallery5 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-from-above.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}
.container-image-gallery6 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}
.container-image-gallery7 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-curiosity.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}
.container-image-gallery8 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-fisheye.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}
.container-image-gallery9 {
  background-position-y: -2.5rem;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 87%;
  position: relative;
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-fisheye.jpg);
  background-repeat: no-repeat;
  max-width: 40rem;
}

#container-button-gallery {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
}
#btn-gallery {
  font-weight: 600;
  letter-spacing: 0.4rem;
  font-size: 1.2rem;
  padding: 0.8rem 3.5rem;
  background-color: white;
}
#footer-section {
  background-color: #000000;
  padding: 5rem;
  text-align: center;
}
ul {
  list-style: none;
  color: white;

  padding: 0rem;
}
li {
  margin: 1.5rem 4rem 0 2rem;
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
#copyright {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: var(--DarkGray);
  font-size: 1.1rem;
}
li:nth-child(1) {
  margin-top: 3rem;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
  margin: 3.5rem auto;
}
.icon-img {
  width: 2rem;
  margin-left: 1.25rem;
}
/* //letras dentro da imagem  */
.span-gallery {
  line-height: 1.8rem;
  position: absolute;
  color: #eae9e1;
  left: 1.5rem;
  text-align: left;
  top: 4.5rem;
  font-size: 1.8rem;
  width: 9rem;
  font-weight: 300;
}
/* NAV BAR////////////////////////////////////////////// */
@media (min-width : 992px) {
  .offcanvas-body {
    background-color: black;
  }
  .offcanvas {
    visibility      : visible;
    position        : relative;
    background      : none;
    border          : none;
    justify-content : end;
    color           : black;
  }
}
@media (max-width : 992px) {
  .offcanvas {
    width : 100% !important;
  }
  .offcanvas-start-lg {
    top          : 0;
    left         : 0;
    border-right : 1px solid rgba(0, 0, 0, .2);
    transform    : translateX(-100%);
  }
}

/* .navbar-nav .nav-link: {
  font-size: 2rem;
} */
ul.navbar-nav  {
position: absolute;
right: 1rem;
top: 1rem;
}
.navbar-nav li a {
  color: white !important;
font-size: 1rem;
}
.navbar-nav li {
  padding: 0;
  margin: 0 2rem 0 0;
}


/* NAV BAR////////////////////////////////////////////// */

@media screen and (min-width: 1200px) {
 
  #div-header-section {
    background-image: url(/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55rem;
  }

}

@media screen and (min-width: 1440px) {
  #vr-man-section h1 {
    color: red;
  }
}